.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    padding: 50px 0;
}

.Home-Overall > p {
    padding: 30px 80px;
    text-align: center;
    font-size: 20px;
    line-height: 1.75em;
}