.TaskGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}

.task-actions button, #see-tasks {
    font-size: 15px;
    min-width: 12em;
    padding: 10px 0;
    margin: 60px 10px;
}

.task-actions #username{
    width: 100%;
    font-size: 15px;
    padding: 15px;
}
