.Relaxation {
    text-align: center;
}

.Relaxation h1 {
    padding: 20px;
}

.playlists iframe {
    margin: 30px;
}

.arrows > span {
    padding: 30px;
}

.arrows > span:hover {
    cursor: pointer;
}